footer
  nav.social 
    a.social__link.navigation__link(href="https://twitter.com/__saurabhv" target='_blank') Twitter
    a.social__link.navigation__link(href="https://codepen.io/Saurabhv749" target='_blank') Codepen