section.collection__heading
  div
    h1.collection__heading__title CMYK
    p.collection__heading__category COLLECTION
    a.collection__heading__link(href="/demon-slayer-perfect-shots/collections/cmyk" data-nav) VIEW MORE
  div
    
