p.router Scroll to switch 

nav.controller
  .controller__wrapper
    a.controller__prev(href="###" data-target='-1') &uarr;
    .controller__slide
      span 01
      span
      span 04
    a.controller__next(href="###" data-target='1') &darr;      