.templates 
  //- 
  .home 
    .home__wrapper

      .home__content
        .cover 
        .preview
          a(href='/demon-slayer-perfect-shots/collections/cmyk' data-nav).preview__container
      .home__navigation
        include router
      include heading
  //- 
  .collection
    .collection__wrapper

      .collection__gallery
        - var n = 0;
          while n <=10
            figure(class='fig fig-'+ (++n))
              div
      a.collection__close
        svg(viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          rect(x="20" y="20" width="40" height="8" rx="4" class="l1")
          rect(x="40" y="20" width="40" height="8" rx="4" class="l2")
          rect(x="20" y="80" width="40" height="8" rx="4" class="l3")
          rect(x="40" y="80" width="40" height="8" rx="4" class="l4")
      .collection__info 
        h3 VOICE
        p.voice Luise De Buck
        
        h3 FIGHTING STYLE
        p.style Hadrien Hanse
        
        h3 PERSONALITY
        p.personality Gilles Maret
        
        h3 STRENGTH
        p.strength Gilles Maret


      .collection__scroll
        .content
  //- 
  .about
    .about__wrapper 
      .about__profile
        img(src="../images/about/2.jpg", alt="profile")
      .about__content
        h3.about__header.
            Hi, I am a 22 y/o Frontend Developer 
            and an anime lover.
        .about__description 
          p.
            I entered the world of development in last year. I love to rebuild the amazing sites over the internet to improve my development skills.
          p.
            My work involves various disciplines like e-commerce, portfolio, showcase, education and entertainment.

          a.contact__button(href="mailto:saurabhv749@gmail.com" ) CONTACT ME 
      .about__credit 
        p site created by saurabh verma, design from <a href='http://fannymyard-design.com/'>Fanny Myard </a>